* {
  background-color: #2B2D42;
}

header {
  text-align: center;
}

h1 {
  color: #8D99AE;
}

hr {
  border: 1px solid #000000;
}

li {
  color: #EDF2F4;
}

strong {
  color: #8D99AE;
}

body {
  color: #2B2D42;
}

button.store-add {
  background-color: #EF233C;
  border: 3px solid #D90429;
  width: 120px;
  height: 25px;
  transition: .5s;
}

button.store-add:hover {
  visibility: visible;
  background-color: #D90429;
  border: 3px solid rgb(255, 0, 0);
}

button.store-add:hover::after {
  content: "\2713";
}

.store-section {
  color: #8D99AE;
  display: flex;
  flex-wrap: wrap;
}

.store-item {
  margin: 1rem;
  padding: 10px;
  border: 1px solid #D90429;
  text-align: center;
}

.store-section-title {
  color: #2B2D42;
  display: initial;
}

.store-section span{
  display: inline-block;
}

.store-section img{
  margin-top: 5px;
  margin-bottom: 5px;
}

h2{
  color: #2B2D42;
}
